:root{
  --th-bg: #000000;
  --th-txt: #888888;
  --txt: #888888;
  --body-bg: #272822;
  --slct-bg: #3b3b3b;
  --found-bg: #1c1c1c;
  --fh-bg: #1e1e1e;
  --fh-txt: #888888;
  --table-borders: #5a5a5a;
  --input-txt: #000;
  --input-bg: #aaa;
  --input-bg-out :#555;
  --formula-txt: var(--blue);
  --unit-txt: var(--purple);
  --currency: var(--green);
  --num-txt: var(--orange);
  --toast-txt: var(--yellow);
  --filter: invert(40%);
  --dots:var(--orange);
  --scrollBar:#5a5a5a;
}


