:root{
  --th-bg: #0d0d0d;
  --th-txt: #888888;
  --txt: #ccc;
  --body-bg: #272822;
  --slct-bg: #3b3b3b;
  --fh-bg: #1e1e1e;
  --fh-txt: #888888;
  --table-borders: #5a5a5a;
  --input-txt: #000;
  --input-bg: #aaa;
  --input-bg-out :#555;
  --num-txt: var(--orange);
  --filter: invert(40%);
  --dots:var(--orange);
  --scrollBar:#5a5a5a;
  --cmenuHover: #222;
}


