:root{
  --th-bg: #ddd;
  --th-txt: #616161;
  --txt: #444;
  --body-bg: #fff;
  --slct-bg: #d4e3f1;
  --fh-bg: #e7e7e7;
  --fh-txt: #616161;
  --table-borders: #b1b1b1;
  --input-txt: #000;
  --input-bg: #edf6ff;
  --input-bg-out : #f5f5f5;
  --num-txt: var(--orange);
  --filter: invert(40%);
  --dots : var(--blue);
  --scrollBar: grey;
  --cmenuHover: #fafafa;
}
