:root{
  --th-bg: #ddd;
  --th-txt: #616161;
  --txt: #171717;
  --body-bg: #fff;
  --slct-bg: #d4e3f1;
  --found-bg: #1c1c1c;
  --fh-bg: #e7e7e7;
  --fh-txt: #616161;
  --table-borders: #b1b1b1;
  --input-txt: #000;
  --input-bg: #ffe588;
  --input-bg-out : #f5f5f5;
  --formula-txt: var(--blue);
  --unit-txt: var(--purple);
  --currency: var(--green);
  --num-txt: var(--orange);
  --toast-txt: var(--yellow);
  --filter: invert(40%);
  --dots : var(--blue);
  --scrollBar: grey;
}
