:root {
  --th-bg: #0d0d0d;
  --th-txt: #888888;
  --txt: #ccc;
  --body-bg: #242424;
  --slct-bg: #191c1e;
  --fh-bg: #0d0d0d;
  --fh-txt: #888888;
  --table-borders: #5a5a5a;
  --input-txt: #ccc;
  --input-bg: #070707;
  --input-bg-out: #555;
  --num-txt: var(--orange);
  --filter: invert(40%);
  --dots: var(--orange);
  --scrollBar: #5a5a5a;
  --cmenuHover: #222;
}