.sheet {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--table-borders);
  border-spacing: 1px;
}


.sheet td {
  color: var(--txt);
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  max-width: 0;
  background-color: var(--body-bg);
  padding: 0;
  font-weight: normal;
}


.sheet .tHeader {
  color: var(--th-txt);
  background-color: var(--th-bg);
  /* padding: 2px; */
}

.sheet .tColHeader {
  height: 1.7em;
  text-align: center;
  position: relative;
  /* width: 10%; */
  min-width: 3em !important;

}

.headerHandle {
  height: 100%;
  width: .6em;
  /* background: var(--th-bg); */
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: col-resize;
}
.noclick{
  pointer-events: none;
}



.sheet .tRowHeader {
  text-align: end;
  width: 1%;
  max-width: 1%;
  padding: 0 .5em 0 .5em;
  white-space: nowrap;
}


.sheet td div {
  margin: 0 .5em 0 .5em;
  line-height: 1em;
  height: 0;
  display: flex;
  align-items: center;
}

.sheet div {
  pointer-events: none;
}

.sheet input:focus {
  box-sizing: border-box;
  position: absolute;
  padding: 0 .5em 0 .5em;
  font-size: inherit;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  height: 100%;
  color: var(--input-txt);
  background-color: var(--input-bg);
  z-index: 1;
  margin: 0;
}



.slct {
  color: inherit;
  background-color: var(--slct-bg) !important;
}


.date {
  color: var(--blue);
  text-align: center;
  justify-content: center;
}

.url {
  color: var(--blue);
}


.num {
  text-align: right;
  color: var(--num-txt);
  justify-content: flex-end;
}

.error {
  color: var(--red);
  text-align: center;
  /* opacity: 0.8; */
  justify-content: center;
}

.noComply {
  color: var(--purple);
}

.sheet td div:nth-child(2) {
  color: var(--blue);
  float: left;
  text-align: left;
  margin-top: 1em;
}

.sheet td div:nth-child(3) {
  float: right;
  /* line-height: normal; */
  /* width: 100%; */
  margin-top: 1em;
}



ui-cmenu {
  display: block;
  position: fixed;
  width: 10em;
  top: 0;
  left: 0;
  background-color: var(--th-bg);
  line-height: 1em;
  box-shadow: 0 0 0 1px var(--table-borders);
  border-radius: 0 1em 1em 1em;
}

.cmenu_header {
  text-align: center;
  font-weight: bold;
  margin: .5em;
}




.cmenu_opt {
  text-align: right;
}

ui-cmenu div {
  margin: .7em 1em;
}


ui-cmenu table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

ui-cmenu tr {
  cursor: pointer;
}

ui-cmenu tr:hover {
  background-color: var(--cmenuHover);

}