@font-face {
    font-family: "inconsolata";
    src: url("Inconsolata-Regular.ttf");
}

hr {
    visibility: hidden
}

b {
    color: var(--red);
}

footer {
    padding: .2em;
    text-align: center;
}

.flexMain {
    flex-grow: 1;
    min-width: 3em;
}

.flexCol {
    display: flex;
    flex-flow: column;
    font-size: inherit;
}

.activeTab {
    font-weight: bold
}

#footerCenter {
    margin: 0 3em 0 3em;
    line-height: 1em;
    display: block;
}

#dragSpace {
    min-width: 1em;
    -webkit-app-region: drag;
    flex-grow: 1;
    height: 100%;
}

#menu {
    flex-wrap: wrap;
    margin: .5em;
}

header img:hover,
#menu img:hover {
    background-color: #ccc
}

.dialog_small {
    line-height: normal;
    max-height: 50vh;
    align-items: start;
    position: relative;
}

.dialog_large {
    line-height: normal;
    align-items: start;
    position: fixed;
    background-color: var(--body-bg);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}

#closeDialog {
    right: 0;
    top: 0;
    margin-top: 1em;
    height: 2em;

}


header,
section,
.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

header {
    height: 2em;
}

body {
    font-size: 12px;
    line-height: 0;
    font-family: inconsolata;
    background-color: var(--fh-bg);
    color: var(--fh-txt);
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

img {
    cursor: default;
    margin-left: .5em;
    height: 1.3em;
    padding: .2em;
    margin: .2em;
    border-radius: 50%;
    filter: var(--filter);
}


footer img {
    height: 1em;
    padding: 0em;
}


.stg table tr td:first-child {
    text-align: left;
}




#appIcon {
    border-radius: 0%;
}



#content {
    position: relative;
}

.scroll {
    overflow: scroll;
    white-space: nowrap;
}

.scroll::-webkit-scrollbar {
    display: none
}