:root {
  --green: #48a741;
  --w: 60%;
  --grey: #f7f7f7;
  --shadow: #aaa;
}


.grow {
  flex-grow: 2;
}

#install {
  position: relative;
}

#version {
  position: absolute;
  bottom: -1.5em;
  width: auto;
  left: 0;
  right: 0;
  color: red;
  font-size: .6em;
  letter-spacing: 4px;
}


h1 {
  line-height: 1.3em;
  margin: .8em;
}

code {
  font-size: inherit;
  font-family: inherit;
  letter-spacing: .2em;
}

a {
  color: inherit;
  text-decoration: none;
}


p {
  display: inline-block;
  width: 40em;
  text-align: justify;
  max-width: 90%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
  text-align: center;
  line-height: 1.5em;
}

#container {
  overflow-y: scroll;
  overflow-x: hidden;
}

#about {
  background-color: var(--grey);
}

#container div {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}


nav {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 1px 5px #fff;
  z-index: 999;
  letter-spacing: 2px;
  flex-wrap: wrap;
  cursor: pointer;
}

#nav_options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav_element {
  min-width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 2em;
  flex-wrap: wrap;
  /* width: 30%; */

}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--green);
  text-decoration-thickness: 2px;
}

#title {
  font-size: inherit;
  font-weight: inherit;
}

#logo {
  display: inline-block;
  height: 3em;
  margin: 0 .5em;
}



button {
  margin: 1em;
  cursor: pointer;
  position: relative;
  color: var(--green);
  border: 2px solid var(--green);
  padding: 1em;
  border-radius: .5em;
  font-weight: bold;
  background-color: white;
  text-align: center;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  /* display: inline-flex
; */
  font-family: monospace;
  letter-spacing: 1px;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: inherit;

}

button:hover {
  box-shadow: var(--green) inset 0 0 2px;
  /* background-color: var(--green); */
  /* color: white; */
}

header {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
}

#screenshots {
  margin: 10vh;
  position: relative;
  width: 60%;
  flex-grow: 2;
  height: auto;

}

#lightShot,
#darkShot {
  position: absolute;
  height: 80%;
  box-shadow: 1px 1px 5px 3px #aaa;
}

#darkShot {
  top: 0;
  left: 0;
}

#lightShot {
  z-index: 1;
  top: 20%;
  right: 0;
}

#subtitle span {
  margin: 1em;
}

#subtitle {
  flex-wrap: wrap;
  /* font-weight: bold; */
  margin: 1em;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  letter-spacing: 1px;
}


.support_link_img {
  height: 2em;
  cursor: pointer;
}

footer {
  min-height: 20vh;
  display: flex;
  background-color: var(--grey);
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

footer a {
  margin: 1em;
}

#email {
  cursor: pointer;
}

#copy_toast {
  display: flex;
  align-items: center;
  color: #333;
  font-weight: bold;
  opacity: 0;
  transition: opacity cubic-bezier(0.5, -4, 0.7, 0.07) 2s;
}

#copy_toast img {
  margin: .2em;
}

@media (max-width: 800px) {

  .hide_phone,
  .nav_link,
  .grow {
    display: none !important;
  }

  nav,
  .nav_element,
  #subtitle {
    flex-direction: column;
  }

  #header {
    min-height: auto;
  }

  #install,
  button {
    margin-top: 0;
  }

}