:root{
  --green: #48a741;
  --w: 60%;
  --grey: #eee;
  --shadow: #aaa;
}

#subtitle span {
  margin:1em;
}

#vision span{
  width : 40em;
}

.pricing{
  margin:.5em;
}

#donate, #subscribe{
  margin:1em;
}

#priceSlct{
  background-color: var(--green);
  color:white;
}

a{
  color: inherit;
  text-decoration: none;
}

p a {
  font-weight: bold;
  color:green;
}

hr{
  max-width :40em;
}

p{
  display: inline-block;
  width : 40em;
  text-align: justify;
  max-width: 90%;
}
span{
  display: inline-block;
  /* width: 40em; */
  align-items: center;
  max-width: 90%;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}

section, blockquote, footer, #support{
  max-width: 100%;
  /* padding: 1em; */
  margin: 0;
  width :100%;
  background-color: var(--grey);
  box-shadow: 0 0  0 1px  var(--shadow);
}



body{
  display:flex;
  flex-direction:column;
  overflow-x: hidden; 
  width: 100%;
  height :100vh;
  font-family:lato;
  font-weight:lighter;
  margin:0;
  text-align: center;
}
#container{
  flex-grow:1;
  overflow-y:scroll;
   overflow-x: hidden; 
}


nav{
   min-height : 10vh;
   display: flex;
   justify-content: space-evenly;
   position: sticky;
   background-color: var(--grey);
   box-shadow: 0  1px  var(--shadow);
   
}


#main-nav{
 z-index:100;
 top: 0;
}
#ug-nav{
   z-index:50;
   top: 0;
   height:5vh;
}
#ug-title{
   box-shadow: 0  -1px  var(--shadow);

}
nav a {
  cursor: pointer;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a:hover, #logoContainer:hover{
  background-color:white;
}

#logoContainer{
box-shadow: 0 1px  var(--shadow);
background-color: var(--grey);
position: absolute;
bottom: -2em;
height:4em;
border-radius: 50%;
}

#logo{
display: inline-block;
height: 3em;
}
button:focus {outline:0;}
#download, button{
  cursor:pointer;
  position:relative;
  color:var(--green);
  border: 2px solid var(--green);
  padding : 0.5em;
  border-radius :.5em;
  font-weight:bold;
  background-color:white;
  display:inline-flex;
  align-items: center;
  justify-content: center;
}
  
button img{
  display: inline-block;
  height : 2em;
  margin-right: 1em;
}

.red{
  color: red;
  position: absolute;
  left: -1em;
  bottom: -.5em;
  transform: rotate(30deg);
}


header {
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
}
#title , #downloadHolder{
   margin-top:.5em;
   display: flex;
   justify-content:space-evenly;
   align-items: center;
   font-size: 2em;
   flex-wrap: wrap;
   width: 100%;
}

#screenshots{
  margin: 1em;
  position: relative;
  width: 70%;
  flex-grow: 2;
}

#lightShot,#darkShot{
  position: absolute;
  height: 80%;
  box-shadow: 1px 1px 5px 3px #aaa;
}

#darkShot{
  top:0;
  left:0;
}

#lightShot{
  z-index:1;
  top: 20%;
  right:0;
}

#subtitle{
  flex-wrap: wrap;
  /* box-shadow: 0 -1px  var(--shadow); */
  font-weight:bold;
  /* padding: 1em; */
  margin-top:1em;
  display:inline-flex;
  justify-content:space-evenly;
  align-items: center;
}


#ug-title{
   background-color: var(--grey);

}
#ug-nav{
   background-color: var(--grey);

}

#support{
  background-color: var(--grey)
}

#support img{
  height :2em;
  cursor: pointer;
}
#supList{
  display:inline-flex;
  width: 30em;
  justify-content:space-around;
  align-items:center;
  margin :2em;

}



footer{
  min-height: 10vh;
  display: flex;
  background-color: var(--grey);
  text-align: center;
  /* padding: 1em; */
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  display:inline-block;
  text-align:left;
  background-color:white;
  margin:1em;
  padding:1em;
  border-radius:1em;
  box-shadow: 0 0 0 1px  var(--shadow);
}


#downloadHolder button{
  margin:0 1em 1em 1em;
  word-wrap: none;
}
#osxNote{
  display: none;
margin-top: 1em;
}
#vision{
  min-height: 70vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  max-width: 100%;
}

footer a{
  margin:1em;
}